
html
{
    box-sizing: border-box;
}

*
{
    font-family: 'Inconsolata';
    font-size: 1rem;

    box-sizing: inherit;

    user-select: none;

    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
}

*:before,
*:after
{
    box-sizing: inherit;
}

.cf:before,
.cf:after
{
    display: table;

    content: ' ';
}

.cf:after
{
    clear: both;
}

.cf
{
    *zoom: 1;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p
{
    font-size: 1rem;
    font-weight: 400;

    margin: 0;
}

a
{
    display: inline-block;

    text-decoration: none;

    color: inherit;
    background-image: linear-gradient(white 90%, #ccc 95%);
    background-repeat: repeat-x;
}

a:focus
{
    outline: 0;
}

a:hover
{
    text-decoration: none;

    color: #56c96b;
    background-image: linear-gradient(white 90%, #56c96b 95%);
}

input,
fieldset
{
    font-family: inherit;
    font-size: 1rem;

    min-width: 0;
    margin: 0;
    padding: 0;

    appearance: none;
}

input:focus
{
    outline: 0;
}


input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button
{
    appearance: none;
}

img
{
    display: block;

    max-width: 100%;
}

body
{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.header
{
    line-height: 1.5;

    margin-top: 2rem;
    padding: .5rem;

    text-align: center;
}

.header img
{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.footer
{
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.footer p
{
    color: #ccc;
}

.footer .lefter
{
    float: left;
}

.footer .righter
{
    float: right;
}

input
{
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: .75rem;
}

td,
th
{
    padding: .5rem;

    border-bottom: 1px solid #f2f2f2;
}

table
{
    table-layout: fixed;
}

td
{
    vertical-align: top;
    word-wrap: break-word;
}

thead
{
    text-align: left;
}

table
{
    width: 100%;

    border: none;
}

pre
{
    margin: 0;
    padding: .25rem .35rem;

    background-color: #f6f6f6;
}


@media screen and (max-width: 640px)
{
    table
    {
        display: block;
        overflow-x: scroll;

        -webkit-overflow-scrolling: touch;
    }
}
